.cosmetic__inner {
  margin-bottom: 75px;

  @include mediaPhone {
    margin-bottom: 25px;
  } 
}

.cosmetic__body {
  position: relative;
  background-image: url('../../img/cosmetic/background-cosmetic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;

  @include mediaTablet {
    align-items: flex-start;
  }
  @include mediaPhoneLess {
    align-items: center;
    text-align: center;
  }
}

.cosmetic__text {
  max-width: 520px;
  color: #fff;
  padding: 75px 75px 25px 75px;

  @include mediaLaptopLess {
    padding: 100px 25px 25px 5px;
    max-width: 450px;
  }
  @include mediaPhoneLess {
    padding: 100px 5px 5px 5px;
  }
}

.cosmetic__text-title {
  font-size: 2rem;
  padding: 15px;

  @include mediaLaptopLess {
  }
  @include mediaTablet {
    font-size: 1.5rem;
  }
}

.cosmetic__text-subtitle {
  font-size: 1.25rem;
  padding: 15px;
  color: $brown-light;

  @include mediaLaptopLess {
  }
  @include mediaTablet {
    font-size: 1.1rem;
    padding: 0px 15px;
  }
}

.cosmetic__text-main {
  font-size: 1.15rem;
  font-family: Comfortaa;
  padding: 15px;

  @include mediaTablet {
    font-size: .8rem;
  }
}

.cosmetic__img {
  position: absolute;
  bottom: -20px;
  right: 0px;
  width: 450px;

  @include mediaLaptopLess {
    width: 300px;
  }
  @include mediaTabletLess {
    width: 350px;
    position: inherit;
    align-self: flex-end;
  }
  @include mediaPhoneLess {
    width: 300px;
    align-self: auto;
  }

}

.cosmetic__buttonbox {
  margin-bottom: 75px;

  @include mediaTablet {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  @include mediaPhone {
    margin-bottom: 15px;
  }
}
  
  

