.cosmetic__inner {
  margin-bottom: 75px;
}

.cosmetic__body {
  position: relative;
  background-image: url('../../img/cosmetic/background-cosmetic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.cosmetic__text {
  max-width: 520px;
  color: #fff;
  padding: 75px 75px 25px 75px;
  margin: 0 auto;
}

.cosmetic__text-title {
  font-size: 2rem;
  padding: 15px;
}

.cosmetic__text-subtitle {
  font-size: 1.25rem;
  padding: 15px;
  color: $brown-light;
}

.cosmetic__text-main {
  font-size: 1.15rem;
  font-family: Comfortaa;
  padding: 15px;
}

.cosmetic__img {
  position: absolute;
  bottom: -20px;
  right: 0px;
  width: 450px;
}

.cosmetic__buttonbox {
  margin-bottom: 75px;
}

@media (width: 1250px) {
  .cosmetic__text {
    max-width: 520px;
    color: #fff;
    padding: 25px 25px 25px 25px;
    margin: 0 auto;
  }
  
  .cosmetic__text-title {
    font-size: 2rem;
    padding: 15px;
  }
  
  .cosmetic__text-subtitle {
    font-size: 1.25rem;
    padding: 15px;
    color: $brown-light;
  }
  
  .cosmetic__text-main {
    font-size: 1.15rem;
    font-family: Comfortaa;
    padding: 15px;
  }

  .cosmetic__img {
    position: absolute;
    bottom: -20px;
    right: 0px;
    width: 450px;
  }
}

