.description__body {
	display: grid;
  grid-template-columns: 450px 1fr 1fr ;
  grid-template-rows: 465px 235px;
  position: relative;
  margin-bottom: 75px;

	background: url('../../img/description/opacity-light.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 1000px;
  
  font-family: Comfortaa;
  @include mediaLaptop {
  }
}

.description__text-part {
  display: flex;
  grid-column: 1/4;
  @include mediaLaptop {
  }
}

.description__img {
  grid-column: 1/4;
  height: 700px;
  border: 2px solid #000;
  display: block;
  filter:sepia(0.3);
  border-radius: 5px;
}

.description__text {
  padding-left: 30px ;
}

.description__text-part {
  margin: 0 0 50px 0;
}

.description__top-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}
.description__bot-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: $brown;
  padding-bottom: 20px;
  line-height: 2;
  @include mediaLaptop {
    line-height: 1.6;
  }
}

.description__main-text {
  line-height: 2.1;
  @include mediaLaptop {
    line-height: 1.6;
    font-size: 14px;
  }
}

.description__items {
  display: flex;
  grid-column: 2/4;
  grid-row: 2/3;
  align-items: center;
  gap: 10px;
  @include mediaLaptop {
    align-items: end;
  }
}

.description__item-img {
  height: 70px;
  width: 70px;
  
}

.description__item {
  flex-basis: 33%;
  text-align: center;
  height: 200px;
}

.description__item-text {
  font-weight: 700;
  padding: 20px;
  @include mediaLaptop {
    font-size: 12px; 
  }
}
