.menu {
  background-image: url('../../img/header/header-img-ghost2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Rex;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

.logo {
  width: 150px;
  height: 100px;
  cursor: pointer;
}

.menu__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.menu__list {
  padding: 25px;
  display: flex;
  gap: 50px;
  margin-left: 50px;
  font-weight: 700;
}

.menu__list-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  text-decoration:underline;
  font-size: 2em;
  transition: all .25s ease-in;
    &:hover{
      color: #fff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    }
}

.menu__reception {
  text-align: center;
  margin-bottom: 100px;
}

